/* Desenvolva a estilização da sua página aqui */
body {
  padding: 152px 465px;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 391px;
  height: 473px;
  gap: 24px;
}
h2 {
  font-size: 2rem;
  font-weight: 600;
}
h2 > span {
  color: var(--brand100);
}
p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--gray300);
  line-height: 24px;
}

figure {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 18px;
}
figure > div {
  display: flex;
  gap: 19px;
}

.position_cat-dogs {
  display: flex;
  flex-direction: column;
}
.cat_dog {
  display: flex;
  gap: 18px;
}
.img_little {
  width: 87px;
  height: 92px;
}
.img_big {
  width: 87px;
  height: 209px;
}
main {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  width: 47vw;
}
aside {
  height: 600px;
  border: solid 2px var(--gray600);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 44px 24px;
  gap: 26px;
  position: absolute;
  width: 368px;
  height: 600px;
  left: 895px;
  top: 92px;
}
aside > h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}
label {
  font-size: 1rem;
  font-weight: 500;
  line-height: 24px;
  margin-top: 15px;
}
.form {
  display: flex;
  flex-direction: column;
}
input {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 16px;
  width: 321px;
  height: 44px;
  background: #f8f9fa;
  border: 1px solid #e9ecef;
  border-radius: 4px;
}
.error {
  margin: 12px;
  color: red;
  font-size: 14px;
}
.w {
    color: transparent;
}
.form {
  display: flex;
  flex-direction: column;
}

.btn_acess {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;
  width: 321px;
  height: 38px;
  background: #364fc7;
  border: 1px solid #364fc7;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}
.click_here {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.still_not {
  font-size: 0.85rem;
  font-weight: 500;
  text-align: center;
}
.click_below {
  font-size: 0.85rem;
  font-weight: 500;
  text-align: center;
  margin: 20px;
}
.btn_register {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;
  width: 321px;
  height: 38px;
  background: transparent;
  border: 1px solid var(--gray600);
  border-radius: 4px;
  cursor: pointer;
}
.spinnerSplendi {
  animation: gira 1.5s infinite;
}

@keyframes gira {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.btn_acess:disabled {
  background-color: var(--gray300);
}
.btn_acess:disabled:hover {
  background-color: var(--gray200);
}
