/* Desenvolva a estilização da sua página aqui */
body {
  padding: 152px 465px;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 391px;
  height: 473px;
  gap: 24px;
}
h2 {
  font-size: 2rem;
  font-weight: 600;
}
h2 > span {
  color: var(--brand100);
}
p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--gray300);
  line-height: 24px;
  width: 320px;
  height: 48px;
}

figure {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  gap: 18px;
}
figure > div {
  display: flex;
  gap: 19px;
}

.position_cat-dogs {
  display: flex;
  flex-direction: column;
}
.cat_dog {
  display: flex;
  gap: 18px;
}
.img_little {
  width: 87px;
  height: 92px;
}
.img_big {
  width: 87px;
  height: 209px;
}
main {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  width: 47vw;
  flex-direction: row-reverse;
}
aside {
  border: solid 2px var(--gray600);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 14px 24px;
  gap: 26px;
  position: absolute;
  width: 368px;
  height: 648px;
  left: 464px;
  top: 92px;
}
aside > h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}
label {
  font-size: 1rem;
  font-weight: 500;
  line-height: 24px;
  margin-top: 15px;
}
.form_user {
  display: flex;
  flex-direction: column;
}
input {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 16px;
  width: 321px;
  height: 44px;
  background: #f8f9fa;
  border: 1px solid #e9ecef;
  border-radius: 4px;
}
.error {
  margin: 12px;
  color: red;
  font-size: 14px;
}
.w {
  color: transparent;
}
.form_password {
  display: flex;
  flex-direction: column;
}

.btn_acess {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;
  width: 321px;
  height: 38px;
  background: #364fc7;
  border: 1px solid #364fc7;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}
.click_here {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.still_not {
  font-size: 0.85rem;
  font-weight: 500;
  text-align: center;
}
.click_below {
  font-size: 0.85rem;
  font-weight: 500;
  text-align: center;
  margin: 20px;
}
.btn_register {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;
  width: 321px;
  height: 38px;
  background: transparent;
  border: 1px solid var(--gray600);
  border-radius: 4px;
  cursor: pointer;
}
.login_area_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 313px;
}
.login_area_div > button {
  background-color: transparent;
  font-weight: 500;
  font-size: 14px;
  padding: 7px 12px;
  border: solid 1px var(--gray600);
  border-radius: 4px;
  cursor: pointer;
}
.sucess {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 21px 32px;
  gap: 17px;
  position: absolute;
  width: 441px;
  height: 125px;
  left: 1415px;
  top: 775px;
  background: #fcfeff;
  box-shadow: 0px 4px 30px -12px rgba(0, 0, 0, 0.8);
  border-radius: 4px;
}
.sucess > p {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  width: 340px;
}
.sucess > p span {
  color: #364fc7;
}
.sucess > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 260px;
}
.sucess div > span {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #087f5b;
}
.hidden {
  display: none;
}